/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-browser {
  background-image: url(../images/sprites.png);
  background-position: -69px -98px;
  width: 45px;
  height: 38px;
}
.icon-code {
  background-image: url(../images/sprites.png);
  background-position: -156px 0px;
  width: 45px;
  height: 38px;
}
.icon-coffee {
  background-image: url(../images/sprites.png);
  background-position: -115px 0px;
  width: 41px;
  height: 50px;
}
.icon-fighter {
  background-image: url(../images/sprites.png);
  background-position: 0px -54px;
  width: 52px;
  height: 44px;
}
.icon-imac {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 56px;
  height: 54px;
}
.icon-instagram {
  background-image: url(../images/sprites.png);
  background-position: -156px -38px;
  width: 40px;
  height: 40px;
}
.icon-mountain {
  background-image: url(../images/sprites.png);
  background-position: -56px 0px;
  width: 59px;
  height: 46px;
}
.icon-pencil {
  background-image: url(../images/sprites.png);
  background-position: -34px -98px;
  width: 35px;
  height: 52px;
}
.icon-phone {
  background-image: url(../images/sprites.png);
  background-position: 0px -98px;
  width: 34px;
  height: 56px;
}
.icon-speedo {
  background-image: url(../images/sprites.png);
  background-position: -115px -50px;
  width: 33px;
  height: 45px;
}
.icon-tshirt {
  background-image: url(../images/sprites.png);
  background-position: -52px -54px;
  width: 51px;
  height: 38px;
}
.icon-twitter {
  background-image: url(../images/sprites.png);
  background-position: -156px -78px;
  width: 44px;
  height: 35px;
}
