


// Core variables and mixins
@import "../../../bower_components/bootstrap/less/variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../../../bower_components/bootstrap/less/normalize.less";
@import "../../../bower_components/bootstrap/less/print.less";


// Core CSS
@import "../../../bower_components/bootstrap/less/scaffolding.less";
@import "../../../bower_components/bootstrap/less/type.less";
@import "../../../bower_components/bootstrap/less/grid.less";



// Utility classes
@import "../../../bower_components/bootstrap/less/utilities.less";
@import "../../../bower_components/bootstrap/less/responsive-utilities.less";



@primary-color: #fff;
@secondary-color: #1c2b39;
@tertiary-color: #2b9af3;

@button-color: #2b9af3;
@button-convert: #ed145b;

@text-primary: #333;
@link-primary: #00b5ef;


@font-primary: "Trebuchet MS";
@font-secondary: "Trebuchet MS";

/*

h1, h2, h3, h4, p, a {
	visibility: hidden;
}	


.wf-active {
	h1, h2, h3, h4, p, a {
		visibility: visible;
		font-family: @font-primary, 'arial', sans-serif;
	}
}
*/


[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
	
	background: @primary-color;
	font-weight: 300;


	color: @text-primary;

	/*font-family: arial;*/
	font-family: @font-primary; 
	
	font-size: 17px;

	-webkit-font-smoothing: antialiased;
}

strong{
	font-weight:500;
}


h1, h2, h3, h4 {
	/*letter-spacing: 1px;*/
	/*text-shadow: 3px 0 0 #000;*/
	/*font-family: arial;*/
	font-family: @font-secondary; 
}

h1, h2, h3, h4, p {
	font-size: 17px;
	margin: 0;
	padding:0;
	
}

p {
	margin: 0 0 15px 0;
	line-height: 145%;
}
p:last-child {
	margin: 0;
}

.slim {
	p {
		padding-left: 35px;
		padding-right: 35px;
	}
}


hr {
	border-color: rgba(0, 0, 0, 0.15);
	
}

hr.small {
	width: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 2px
}

hr.small-left {
	margin-left: 0;
	margin-right: 0;
}

a {
	transition: ease all 0.3s;
	border-bottom: 1px solid transparent;	
}

a, a:focus {
	text-decoration: none;
	color: @link-primary;
	

}

a:hover {
	text-decoration:none;
	color: @link-primary;
	border-bottom: 1px solid @link-primary;
}





nav a {
	padding: 6px 0;
	border:0;
	font-size: 16px;
	
	display: block;
	position: relative;
	
	margin: 0 5px;
	border:0;
	font-weight: bold;
		

	&:hover {
		border:0;
	}

	&.current {

		color: #999;
		position: relative;

		&:after {
			position:absolute;
			bottom: 0;
			left:0;
			color: #999;
			width: 50%;
			height: 2px;
			background: #999;
			content: "";
		}
	}

	&.convert {
		
		padding: 6px 15px;
		
		background: @button-convert;
		color: #fff;
		border-radius: 25px;
		border:0;


		&:hover {
			background: darken(@button-convert, 5%);
		}
	}
}



.button {
	display: inline-block;
	padding: 8px 15px; 
	border:0;
	color: #fff;
	background: @button-color;
	border-radius: 3px;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	border: 0;
}

.button:hover, .button:active, .button:focus {
	background: darken(@button-color, 15%);
	color: #fff;
	border:0;
	
}



.pad-around-xs { padding-top: 15px; padding-bottom: 15px }
.pad-around {  padding-top: 100px; padding-bottom: 100px }
.pad-around-large {  padding-top: 150px; padding-bottom: 150px }
.pad-around-xlarge {  padding-top: 200px; padding-bottom: 200px }

.pad-top-mini {padding-top: 15px}
.pad-top {padding-top: 20px}
.pad-top-large {padding-top: 50px}
.pad-top-xlarge {padding-top: 70px}
.pad-bottom-large {padding-bottom: 50px}




.text-size-10 { font-size: 10px;}
.text-size-11 { font-size: 11px;}
.text-size-12 { font-size: 12px;}
.text-size-13 { font-size: 13px;}
.text-size-15 { font-size: 15px;}
.text-size-18 { font-size: 18px;}
.text-size-20 { font-size: 20px;}
.text-size-25 { font-size: 25px;}
.text-size-30 { font-size: 30px;}
.text-size-35 { font-size: 35px;}
.text-size-40 { font-size: 40px;}
.text-size-50 { font-size: 50px;}
.text-size-80 { font-size: 80px;}
.text-size-100 { font-size: 100px; line-height: 100%;}
.text-size-150 { font-size: 150px; line-height: 85%;}


.text-weight-normal { font-weight: normal; }
.text-weight-bold { font-weight: bold; }


.opacity-70 { opacity: 0.7; }
.opacity-80 { opacity: 0.8; }


.margin-bottom-none { margin-bottom: 0;}
.margin-bottom-small { margin-bottom: 5px;}
.margin-bottom-medium { margin-bottom: 15px;}
.margin-bottom-large { margin-bottom: 25px;}
.margin-bottom-xlarge { margin-bottom: 40px;}
.margin-bottom-xxlarge { margin-bottom: 80px;}


.display-block { display: block;}
.inline-block { display: inline-block; vertical-align: middle}


.relative { position: relative;}
.static { position: static;}

.img-responsive {
	margin-left: auto;
	margin-right: auto;
}



.icon-fixed-height {
	min-height: 60px;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0)
  }

  100% {
    opacity: 1;
    transform: scale(1, 1)
  }
}


.fadeIn, .zoomIn {
	animation-duration: 1s;
	animation-fill-mode: both;

}

.fadeIn {
	animation-name: fadeIn;
}

.zoomIn {
	animation-name: zoomIn;
}

.unloaded {
	opacity:0;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {

	.xs-text-center {
		text-align: center;
	}

	.xs-pad-around { padding-top: 70px; padding-bottom: 70px }
	

	
	
	.xs-margin-bottom-s { margin-bottom: 5px;}
	.xs-margin-bottom-m { margin-bottom: 15px;}
	.xs-margin-bottom-l { margin-bottom: 25px;}
	.xs-margin-bottom-xl { margin-bottom: 40px;}
	.xs-margin-bottom-xxl { margin-bottom: 80px;}


}
