

@primary-color: #fff;
@secondary-color: #1c2b39;
@tertiary-color: #2b9af3;

@button-color: #2b9af3;

@text-primary: #333;
@link-primary: #00b5ef;


.bg-primary { background: @primary-color; }
.bg-secondary {	background: @secondary-color; }
.bg-tertiary {	background: @tertiary-color; }



.bg-tertiary {

	color: #fff;

	p {
		color: lighten(@tertiary-color, 30%);
	}

	a {
		color: #fff;

		&:hover{
			border-color: #fff;
		}
	}

	hr{
		border-color: rgba(255, 255, 255, 0.2)
	}
}

.bg-secondary {

	color: #fff;

	p {
		color: lighten(@secondary-color, 60%);
	}

	hr{
		border-color: rgba(255, 255, 255, 0.2)
	}

	
}


.coming-soon {
	/*background: url(../images/coming-soon-bg.jpg) no-repeat 50% 0;
	background-size: cover;
	will-change: transform;*/
}




@import 'mobile.less';


