<div>



	<div class="">

		<div class="container pad-around xs-pad-around">

			<div class="row text-center margin-bottom-xxlarge">

				<div class="col-sm-8 col-sm-offset-2">

					
					<h1 class="margin-bottom-medium text-size-40 text-weight-large text-weight-bold">
						A Faster Experience
					</h1>

					<hr class="small margin-bottom-medium" />

					<p class="text-size-20 margin-bottom-xlarge opacity-80">
						Users <a href="https://blog.kissmetrics.com/loading-time/" target="_blank">expect</a> performant websites regardless of the device they are using, failure to this can have a negative impact on key metrics &amp; conversions.  
					</p>

					<a href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.robertjamesphillips.com%2Fspeedy%2F%23&tab=mobile" target="_blank" class="button">Check the PageSpeed Insights</a>


				</div>

			</div>

			<div class="row text-center">

				<div class="col-sm-12">

					<img data-aload="images/hero.jpg" alt="hero image" class="img-responsive" />

				</div>

			</div>

		</div>

	</div>





	<div class="bg-tertiary">

		<div class="container pad-around-large xs-pad-around">

			<div class="row text-center margin-bottom-xxlarge">


				<div class="col-sm-8 col-sm-offset-2">

					
					
					<h2 class="margin-bottom-medium text-size-40 text-weight-bold">
						What's this site for?
					</h2>

					<hr class="small margin-bottom-medium" />			

					<p class="text-size-20">
						This is a dummy <a target="_blank" href="https://angularjs.org/">angular</a> brochure site, built with the intention of loading quickly for the user and scoring highly on Google <a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a>.

					</p>

				</div>


			</div>

			<div class="row text-center">


				<div data-inview="zoomIn" class="col-sm-4 slim xs-margin-bottom-xl unloaded">

					<div class="icon-fixed-height margin-bottom-large">
						<div class="inline-block icon-phone"></div>
					</div>
					
					<h3 class="margin-bottom-medium text-size-25 text-weight-bold">
						Network
					</h3>

					<hr class="small" />

					<p class="margin-bottom-large">
						Automated Concatinating &amp; compression of assets, image sprites, deferred loading, inlined assets, etc.
					</p>

				</div>

				<div data-inview="zoomIn" class="col-sm-4 slim xs-margin-bottom-xl unloaded">

					<div class="icon-fixed-height margin-bottom-large">
						<div class="inline-block icon-browser"></div>
					</div>
					
					<h3 class="margin-bottom-medium text-size-25 text-weight-bold">
						Rendering
					</h3>

					<hr class="small" />

					<p class="margin-bottom-large">
						Prioritised above the fold content, examples of <a href="https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame" taget="_blank">requestAnimationFrame</a> for efficient screen updates.
					</p>

				
				</div>


				<div data-inview="zoomIn" class="col-sm-4 slim unloaded">

					<div class="icon-fixed-height margin-bottom-large">
						<div class="inline-block icon-speedo"></div>
					</div>
					
					<h3 class="margin-bottom-medium text-size-25 text-weight-bold">
						All together
					</h3>

					<hr class="small" />

					<p class="margin-bottom-large">
						Speed is a feature and should be prioritised as such by everyone in the team working together.
					</p>



				</div>

				


			</div>

		</div>

	</div>


	<div data-inview="fadeIn" class="unloaded">

		<div class="container pad-around-large xs-pad-around">

			<div class="row text-center">

				<div class="col-sm-8 col-sm-offset-2">

					<div class="icon-fixed-height margin-bottom-large">
						<div class="inline-block icon-code"></div>
					</div>

					
					<h3 class="margin-bottom-medium text-size-40 text-weight-bold">
						Check it out
					</h3>

					<hr class="small margin-bottom-medium" />

					<p class="text-size-20 opacity-80 margin-bottom-xlarge ">
						The source for this site is hosted on a public repo on Bitbucket.  It makes use of <a href="http://yeoman.io/" target="_blank">yeoman</a>, <a href="http://bower.io/" target="_blank">bower</a> &amp; <a href="http://gruntjs.com/" target="_blank">grunt</a>.  Contribute if you like.
					</p>

					<a href="https://bitbucket.org/robertphillips/speedy" target="_blank" class="button">View source on Bitbucket</a>

				</div>

			</div>

			

		</div>

	</div>


	<div class="bg-secondary coming-soon">

		<div class="container pad-around-xlarge xs-pad-around">

			<div class="row text-center">

				<div class="col-sm-4 col-sm-offset-4">

					<div class="icon-fixed-height margin-bottom-large">
						<div class="inline-block icon-fighter"></div>
					</div>

					<h3 class="text-size-35 text-weight-bold margin-bottom-medium">Launching Soon</h3>
					<hr class="small  margin-bottom-medium" />
					<p class="margin-bottom-xlarge text-size-16">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
					</p>
					
					<a href="#" class="button">Blah de blah blah blah</a>
					
				</div>

				

			</div>

		</div>

	</div>


</div> 